.banner,
.banner .background-image {
  aspect-ratio: 21/9;
}

/* To stack the text on top of the image */
.banner {
  display: grid;
  place-items: center start;
}

.banner.banner-modal-content {
  place-items: end start;
}

/* To stack the text on top of the image */
.banner > * {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.banner .content {
  z-index: 1; /* To put the content on top of the image */
  width: 460px;
  padding: var(--default-padding);
}

.banner button {
  margin-right: var(--space-medium);
}

.banner .background-image {
  width: 100%;
}
