.banner-home,
.banner-home .background-image {
  aspect-ratio: 21/9;
}

.banner-home {
  position: relative;
  display: flex;
  align-items: center;
}

.banner-home .content {
  width: 460px;
  padding: var(--default-padding);
}

.banner-home button {
  margin-right: var(--space-medium);
}

.banner-home .background-image {
  aspect-ratio: 21/9;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
