/*
  button (without a dot) is for the real <button> tag
  .button (with a dot) is for other tags that need to look like buttons. Example: <a>
*/
button,
.button {
  min-width: 136px; /* using min-width sets the initial size while allowing to grow as needed */
  height: 44px;
  background-color: var(--color-netflix-red);
  color: white;
  border-radius: var(--radius);
  font-weight: bold;
  border: none;
  font-size: var(--default-text-size);
  cursor: pointer;
}

.button-gray {
  background-color: var(--color-gray-4);
}

.button-white {
  background-color: white;
  color: black;
}
