.button {
  min-width: 136px; /* using min-width sets the initial size while allowing to grow as needed */
  height: 44px;
  background-color: var(--color-netflix-red);
  color: white;
  border-radius: var(--radius);
  font-weight: bold;
  border: none;
  font-size: var(--default-text-size);
}
