.episode-chooser header {
  display: flex;
  align-items: flex-end;
  margin-bottom: var(--space-small);
}

.episode-chooser h2,
.episode-chooser select {
  margin-bottom: 0;
}

.episode-chooser select {
  margin-left: auto;
}
