.hero,
.hero .background-image {
  aspect-ratio: 21/9;
}

/* To stack the text on top of the image */
.hero {
  display: grid;
  place-items: center start;
}

.hero.hero-details {
  place-items: end start;
}

/* To stack the text on top of the image */
.hero > * {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.hero .content {
  z-index: 1; /* To put the content on top of the image */
  width: 460px;
  padding: var(--default-padding);
}

.hero button {
  margin-right: var(--space-medium);
}

.hero .background-image {
  width: 100%;
}
