.card-list {
  margin-bottom: var(--space-big);
  padding: 0 var(--page-space);
}

.card-list div {
  display: flex;
  overflow-x: scroll;
  column-gap: var(--space-medium);
}

/* Remove scrollbar space */
.card-list div::-webkit-scrollbar {
  display: none;
}

.card-list .item-card {
  flex-grow: 0;
  flex-shrink: 0;
}
