.modal-details {
  max-width: 850px;
  max-height: 85vh; /* to enable scrolling when the we have the episode chooser  */
  background-color: var(--color-gray-1);
  color: white;
  border-radius: var(--radius);
  overflow: scroll;
  padding-bottom: var(--default-padding);
}

.modal-details .hero,
.modal-details .description {
  margin-bottom: var(--space-medium);
}

.modal-details .description,
.modal-details .episode-chooser {
  margin: 0 var(--default-padding);
}

/* Media queries */
/* Larger than mobile */
@media (min-width: 400px) {
  .modal-details .description p {
    max-width: 460px;
  }
}
