#home .banner-home {
  margin-bottom: var(--space-big);
}

#home .container-cards {
  margin-bottom: var(--space-big);
  padding: 0 var(--default-padding);
}

#home .container-cards div {
  display: flex;
  overflow-x: scroll;
  column-gap: var(--space-medium);
}

/* Remove scrollbar space */
#home .container-cards div::-webkit-scrollbar {
  display: none;
}

#home .card-basic {
  flex-grow: 0;
  flex-shrink: 0;
}

#home footer {
  text-align: center;
  padding-bottom: var(--space-big);
}
