body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: NetflixSans, Helvetica, Arial, sans-serif;

  /* Makes fonts look good on compatible browsers */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box; /* to fix legacy issues with padding messing up when adding with or borders */
}

img {
  /* make images responsible (mobile first) */
  max-width: 100%;
  height: auto;

  object-fit: cover; /* To avoid streched images that look distorted */
}
