h1,
h2,
h3,
p {
  margin-top: 0;
}

h1 {
  font-size: 32px;
  letter-spacing: 0.07px;
  margin-bottom: var(--space-big);
}

h2 {
  font-size: 18px;
  letter-spacing: -0.05px;
  margin-bottom: var(--space-medium);
}

h3 {
  font-size: 16px;
  letter-spacing: -0.2px;
  margin-bottom: var(--space-medium);
}

/* the .text class is for elements like input that require the same size as the <p> tag */
p,
.text-paragraph {
  font-size: var(--default-text-size);
  margin-bottom: var(--space-medium);
}
