/* Colors */
:root {
  --color-netflix-red: #e50914;
  --color-gray-1: #181818;
  --color-gray-2: #242424;
  --color-gray-3: #333333;
  --color-gray-4: #4d4d4d;
}

/* Spacing */
:root {
  --space-small: 8px;
  --space-medium: 16px;
  --space-big: 32px;
}

/* Other */
:root {
  --default-text-size: 15px; /* to sync the font size of the paragraph to other elements that uses the same size. */
  --radius: 4px;
}
