/* Colors */
:root {
  --netflix-red: #e50914;
  --gray-1: #181818;
  --gray-2: #242424;
  --gray-3: #333333;
  --gray-4: #4d4d4d;
}

/* Spacing */
:root {
  --space-small: 8px;
  --space-medium: 16px;
  --space-big: 32px;
}

/* Other */
:root {
  --border-radius: 4px;
}
